/*global*/
*{
  position:relative;
  box-sizing:border-box;
}
html, body{
  margin:0;
  padding:0;
  height:10000px;
}
/*框線的設定*/
.contaioner{
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #999;
}
/*custom*/
.elements{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid ##fff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
.navBar{
  background-color: rgba(255, 255, 224, 0.6);
}

.navBar .elements{
   height: 80px;
}
